// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  height: 70px;
  width: 100%;
  background: gray;
  padding: 10px;
}

.hero {
  height: 400px;
  width: 100%;
  background: lightgray;
  padding: 20px;
}
.page_title {
  font-size: 22px;
}

.page-sub-title {
  font-size: 18px;
}
