<!DOCTYPE html>
<html>
  <head>
    <title>Devhub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <img src="http://placehold.it/70x70">
      <span class="title">DevHub</span>
      <select>
        <option>Learn</option>
        <option>Favorites</option>
      </select>
    </header>
    <div class="hero">
      <p class="page-title">All The Best</p>
      <p class="page-sub-title">The best resources for developers</p>
    </div>
    <%= yield %>
  </body>
</html>
